services:
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.local
    # command: ["pnpm", "dev", "--host", "0.0.0.0"]
    ports:
      - 5175:5175
    env_file: .env.dev
    volumes:
      - .:/app
      - /app/node_modules
